.container {
  width: 960px;
  margin: 30px auto;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  letter-spacing: -2px;
  border-bottom: 1px solid #57ad68;
}

.editor {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #57ad68;
  padding: 0 0 40px 0;
  position: relative;
}

.editable {
  width: 50%;
  font-size: 15px;
  outline: none;
  padding: 16px 0;
}

.markdown {
  width: 50%;
  font-size: 15px;
  padding: 16px;
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 3px;
  word-wrap: break-word;
  margin-left: 10px;
}

.footer {
  padding: 40px 0;
}

.footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  color: #000;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}

.footer ul li:last-child {
  margin-right: 0px;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.Modal {
  display: none;
}

.Modal.isShow {
  display: block;
}


.Modal__overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Modal__content {
  padding: 0 25px;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
}

.CopyBtn {
  display: none;
  position: absolute;
  right: 16px;
  top: 31px;

  border: none;
  border-radius: 2px;
  color: #000;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  min-width: 45px;
  padding: 0 16px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background: rgb(76, 175, 80);
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.CopyBtn:hover {
  opacity: 0.8;
  display: inline-block;
}

.markdown:hover + .CopyBtn {
  display: inline-block;
}
